language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
install:
  - pip install -e .
  - pip install -r requirements-dev.txt
  - pip install python-coveralls
script:
  - ./test.sh
after_success:
  - coveralls
